@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;600&display=swap');



body{
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
/* coustom color */
.h-color{

}
.h-font{
    font-family: 'Bebas Neue', cursive;
}
.h-fs{

}
.bg-color1{
    background-color: #FFFFFF;
}

/*==============
 start our package 
 ===============*/
.button-style{
    background-color: #F496D1;
    mix-blend-mode: normal;
    opacity: 0.7;
    border-radius: 24px;
    color: #3F87F5;
    
}
.button-style1{
    background: #FFFFFF;
    border-radius: 24px;
    color: #3F87F5;
    padding: 5px 40px;
    margin: 10px;
    align-items:center ;
    font-weight: bold;
}
.vip-card{
    margin-top: -50px;
    background: #3F87F5;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
    border-radius: 26px;
    padding: 15px 30px;
}

/*==============
 start our package 
 ===============*/

/*==========
 Frequently Asked Question
 ========= */

footer{
    background: #0B0D17;
    height: 20em;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
.logo1{
    width: 120px;
    height: 60px;
}
.logo2{
    width: 100px;
    height: 40px;
}