nav{
    height: 0px;
}
.banner{
    width:100% ;
    height: calc(100vh-80px);
}
/* start our package  */

/* .normal-card{
    height: 387px;
    width: 200px;
}
.vip-card{
    background-color: #3F87F5;
    height: 480px;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
    border-radius: 26px;
    margin: -20px;
    width: 250px;
} */
/*========== Frequently Asked Question========= */
.FAQ{
    background-color: burlywood;
    position: sticky;
}
.FAQ-child{
    padding: 20px 24px;
    background: #FFFFFF;
    border: 1px solid #D5E5FB;
    box-sizing: border-box;
    border-radius: 5px;
   margin: 10px;
}